
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

section {
  margin: 10px;
  border-style: double;
  display: flex; 
  justify-content: center;
   align-items: center;
    height: 80vh;
    text-align: center;
}

.selector {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;
}

.home{
  align-items: center;
  justify-content: center;
  display: flex;
  margin: -80px;
}

svg{
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 100px;

}

@media screen and (max-width: 768px) {
  section{
    height: 45vh;
  }
  .selector {
    grid-template-columns: 1fr;
  }
  
}
